import pandas as pd
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv("heybanco_2.csv")

In [5]:
df

,tipo_transaccion,nombre_comercio,giro_nombre,mcc_nombre,fecha_transaccion,ope_pais,entry_mode,sexo_cliente,estado_cliente,edad_cliente,monto_transaccion,id_cliente
0,TDC,FARM GUADALAJARA 341 TORREON COAH CO,FARMACIAS,"DROGUERIAS, (FARMACIAS)",2023-01-20 13:48:00,MX,CARD PRESENT,F,COAHUILA DE ZARAGOZA,61.0,65.04,933
1,TDC,OXXO BABY O ACAPULCO GRO GE,RETAIL,"TIENDAS DE CONVENIENCIA, MINISUPER",2023-01-28 13:58:00,MX,CARD PRESENT,M,MEXICO,27.0,143.18,8562
2,TDD,VS TELCEL 018001200006CIUDAD DE MEX001,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ...",2023-01-29 13:37:00,MX,CARD NOT PRESENT,M,QUINTANA ROO,29.0,84.80,3980
3,TDD,KFC ECOMMERCE CIUDAD DE MEX001,COMIDA RAPIDA,COMIDA RAPIDA,2023-02-11 15:06:00,MX,CARD NOT PRESENT,M,COAHUILA DE ZARAGOZA,45.0,124.22,9389
4,TDD,MERCADO PAGO CIUDAD DE MEXDF,OTROS,MERCADEO DIRECTO - NO CLASIFICADO,2023-01-24 12:50:00,MX,CARD NOT PRESENT,M,TABASCO,22.0,17.44,1845
...,...,...,...,...,...,...,...,...,...,...,...,...
358355,TDD,SNP*MERCADOPAGO CIUDAD DE MEX001,AGREGADOR,AGREGADOR,2023-01-13 14:36:00,MX,CARD NOT PRESENT,F,VERACRUZ DE IGNACIO DE LA LLAV,23.0,531.91,463
358356,TDD,WALMART SUPER 1 CIUDAD DE MEXDF,SUPERMERCADOS,AUTOSERVICIOS Y SUPERMERCADOS,2022-11-27 02:22:00,MX,CARD NOT PRESENT,F,CIUDAD DE MEXICO,46.0,531.24,4167
358357,TDC,CLIP MX*TIJUANA SMOKE TIJUANA 000,AGREGADOR,AGREGADOR,2023-02-27 15:35:00,MX,CARD PRESENT,M,BAJA CALIFORNIA,21.0,523.99,3264
358358,TDC,12746 ZARA PASEOQUERE QUERETARO 00,RETAIL,ROPA CASUAL DAMAS LENCERIA,2022-12-09 18:28:00,MX,CARD PRESENT,F,QUERETARO,23.0,548.17,8180
358359,TDC,SONORAS MEAT 2 AGUASCALIENTE001,MISCELANEAS,"ABARROTES, CARNICERIAS, PESCADERIAS, MISCELANEAS,",2023-03-04 14:42:00,MX,CARD PRESENT,F,AGUASCALIENTES,67.0,558.81,2889

In [4]:
diciembre=df[df['Mes de Fecha Transaccion'] == 'diciembre']
noviembre=df[df['Mes de Fecha Transaccion'] == 'noviembre']
enero=df[df['Mes de Fecha Transaccion'] == 'enero']
febrero=df[df['Mes de Fecha Transaccion'] == 'febrero']
marzo=df[df['Mes de Fecha Transaccion'] == 'marzo']

diciembre= diciembre.drop('Mes de Fecha Transaccion', axis=1)
noviembre= noviembre.drop('Mes de Fecha Transaccion', axis=1)
enero= enero.drop('Mes de Fecha Transaccion', axis=1)
febrero= febrero.drop('Mes de Fecha Transaccion', axis=1)
marzo= marzo.drop('Mes de Fecha Transaccion', axis=1)

diciembre = diciembre.rename(columns={'Prom. Monto Transaccion': 'diciembre'})
noviembre = noviembre.rename(columns={'Prom. Monto Transaccion': 'noviembre'})
enero = enero.rename(columns={'Prom. Monto Transaccion': 'enero'})
febrero = febrero.rename(columns={'Prom. Monto Transaccion': 'febrero'})
marzo = marzo.rename(columns={'Prom. Monto Transaccion': 'marzo'})

In [5]:
diciembre = diciembre.assign(noviembre=0, enero=0, febrero=0,marzo=0)
noviembre = noviembre.assign(diciembre=0, enero=0, febrero=0,marzo=0)
enero = enero.assign(noviembre=0, diciembre=0, febrero=0,marzo=0)
febrero = febrero.assign(noviembre=0, enero=0, diciembre=0,marzo=0)
marzo = marzo.assign(noviembre=0, enero=0, febrero=0,diciembre=0)


diciembre = diciembre[['Id Cliente', 'Sexo Cliente', 'Edad Cliente', 'Estado Cliente',
       'Ope Pais', 'Giro Nombre', 'Mcc Nombre', 'Entry Mode',
       'Tipo Transaccion',
       'noviembre','diciembre','enero','febrero','marzo']]

noviembre = noviembre[['Id Cliente', 'Sexo Cliente', 'Edad Cliente', 'Estado Cliente',
       'Ope Pais', 'Giro Nombre', 'Mcc Nombre', 'Entry Mode',
       'Tipo Transaccion',
       'noviembre','diciembre','enero','febrero','marzo']]

enero = enero[['Id Cliente', 'Sexo Cliente', 'Edad Cliente', 'Estado Cliente',
       'Ope Pais', 'Giro Nombre', 'Mcc Nombre', 'Entry Mode',
       'Tipo Transaccion',
       'noviembre','diciembre','enero','febrero','marzo']]

febrero = febrero[['Id Cliente', 'Sexo Cliente', 'Edad Cliente', 'Estado Cliente',
       'Ope Pais', 'Giro Nombre', 'Mcc Nombre', 'Entry Mode',
       'Tipo Transaccion',
       'noviembre','diciembre','enero','febrero','marzo']]

marzo = marzo[['Id Cliente', 'Sexo Cliente', 'Edad Cliente', 'Estado Cliente',
       'Ope Pais', 'Giro Nombre', 'Mcc Nombre', 'Entry Mode',
       'Tipo Transaccion',
       'noviembre','diciembre','enero','febrero','marzo']]

In [6]:
diciembre

,Id Cliente,Sexo Cliente,Edad Cliente,Estado Cliente,Ope Pais,Giro Nombre,Mcc Nombre,Entry Mode,Tipo Transaccion,noviembre,diciembre,enero,febrero,marzo
0,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,MISCELANEAS,"ABARROTES, CARNICERIAS, PESCADERIAS, MISCELANEAS,",CARD PRESENT,TDD,0,20.18,0,0,0
1,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,MERCADEO DIRECTO - NO CLASIFICADO,CARD NOT PRESENT,TDD,0,158.15,0,0,0
3,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ...",CARD NOT PRESENT,TDD,0,59.85,0,0,0
6,2,F,28,GUERRERO,MX,OTROS,MERCADEO DIRECTO - NO CLASIFICADO,CARD NOT PRESENT,TDD,0,513.02,0,0,0
7,2,F,28,GUERRERO,MX,RETAIL,"TIENDAS DE CONVENIENCIA, MINISUPER",CARD PRESENT,TDD,0,50.87,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185735,9997,M,48,NUEVO LEON,MX,AGREGADOR,AGREGADOR,CARD PRESENT,TDD,0,159.65,0,0,0
185743,9999,M,29,VERACRUZ DE IGNACIO DE LA LLAV,MX,ENTRETENIMIENTO,"CINES, TEATROS",CARD PRESENT,TDC,0,134.20,0,0,0
185746,9999,M,29,VERACRUZ DE IGNACIO DE LA LLAV,MX,SUPERMERCADOS,TIENDA DEPARTAMENTAL,CARD PRESENT,TDC,0,135.70,0,0,0
185748,10000,M,14,QUINTANA ROO,US,OTROS,SERV PROC DATOS - DISENO Y PROGRAM DE SISTEMAS,CARD NOT PRESENT,TDD,0,20.93,0,0,0
185749,10000,M,14,QUINTANA ROO,US,RETAIL,VENTA DE SOFTWARE PARA COMPUTADORAS,CARD NOT PRESENT,TDD,0,30.16,0,0,0

In [7]:
df_concatenado = pd.concat([noviembre, diciembre,enero,febrero,marzo])
df_sorted = df_concatenado.sort_values(by='Id Cliente')
df_sorted

,Id Cliente,Sexo Cliente,Edad Cliente,Estado Cliente,Ope Pais,Giro Nombre,Mcc Nombre,Entry Mode,Tipo Transaccion,noviembre,diciembre,enero,febrero,marzo
2,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,SERVICIOS EMPRESARIALES - NO CLASIFICADOS,CARD NOT PRESENT,TDD,167.61,0.00,0.00,0.0,0.0
3,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ...",CARD NOT PRESENT,TDD,0.00,59.85,0.00,0.0,0.0
1,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,MERCADEO DIRECTO - NO CLASIFICADO,CARD NOT PRESENT,TDD,0.00,158.15,0.00,0.0,0.0
0,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,MISCELANEAS,"ABARROTES, CARNICERIAS, PESCADERIAS, MISCELANEAS,",CARD PRESENT,TDD,0.00,20.18,0.00,0.0,0.0
11,2,F,28,GUERRERO,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ...",CARD NOT PRESENT,TDD,0.00,0.00,159.85,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185741,9999,M,29,VERACRUZ DE IGNACIO DE LA LLAV,MX,AGREGADOR,AGREGADOR,CARD PRESENT,TDC,50.87,0.00,0.00,0.0,0.0
185747,10000,M,14,QUINTANA ROO,MX,OTROS,SERVICIOS EMPRESARIALES - NO CLASIFICADOS,CARD NOT PRESENT,TDD,0.00,0.00,102.53,0.0,0.0
185748,10000,M,14,QUINTANA ROO,US,OTROS,SERV PROC DATOS - DISENO Y PROGRAM DE SISTEMAS,CARD NOT PRESENT,TDD,0.00,20.93,0.00,0.0,0.0
185749,10000,M,14,QUINTANA ROO,US,RETAIL,VENTA DE SOFTWARE PARA COMPUTADORAS,CARD NOT PRESENT,TDD,0.00,30.16,0.00,0.0,0.0
185750,10000,M,14,QUINTANA ROO,US,RETAIL,VENTA DE SOFTWARE PARA COMPUTADORAS,CARD NOT PRESENT,TDD,74.32,0.00,0.00,0.0,0.0

In [8]:
df_sorted.columns

Index(['Id Cliente', 'Sexo Cliente', 'Edad Cliente', 'Estado Cliente',
       'Ope Pais', 'Giro Nombre', 'Mcc Nombre', 'Entry Mode',
       'Tipo Transaccion', 'noviembre', 'diciembre', 'enero', 'febrero',
       'marzo'],
      dtype='object')

In [9]:
noviembre_total = df_sorted.groupby([ 'Id Cliente','Mcc Nombre']).agg({'noviembre': 'sum'}).reset_index()
noviembre_total=noviembre_total.drop(['Id Cliente', 'Mcc Nombre'], axis=1)

diciembre_total = df_sorted.groupby([ 'Id Cliente','Mcc Nombre']).agg({'diciembre': 'sum'}).reset_index()
diciembre_total=diciembre_total.drop(['Id Cliente', 'Mcc Nombre'], axis=1)

enero_total = df_sorted.groupby([ 'Id Cliente','Mcc Nombre']).agg({'enero': 'sum'}).reset_index()
enero_total=enero_total.drop(['Id Cliente', 'Mcc Nombre'], axis=1)

febrero_total = df_sorted.groupby([ 'Id Cliente','Mcc Nombre']).agg({'febrero': 'sum'}).reset_index()
febrero_total=febrero_total.drop(['Id Cliente', 'Mcc Nombre'], axis=1)

marzo_total = df_sorted.groupby([ 'Id Cliente','Mcc Nombre']).agg({'marzo': 'sum'}).reset_index()
marzo_total=marzo_total.drop(['Id Cliente', 'Mcc Nombre'], axis=1)

meses = pd.concat([noviembre_total, diciembre_total,enero_total,febrero_total,marzo_total], axis=1)
meses

       noviembre  diciembre   enero  febrero  marzo
0           0.00      20.18    0.00      0.0    0.0
1           0.00     158.15    0.00      0.0    0.0
2           0.00      59.85    0.00      0.0    0.0
3         167.61       0.00    0.00      0.0    0.0
4           0.00       0.00   74.32      0.0    0.0
...          ...        ...     ...      ...    ...
97751       0.00       0.00  109.75      0.0    0.0
97752       0.00     135.70    0.00      0.0    0.0
97753       0.00      20.93    0.00      0.0    0.0
97754       0.00       0.00  102.53      0.0    0.0
97755      74.32      30.16    0.00      0.0    0.0

[97756 rows x 5 columns]

In [14]:
df_nombres=df_sorted.loc[:, ['Id Cliente', 'Sexo Cliente', 'Edad Cliente', 'Estado Cliente', 'Ope Pais', 'Giro Nombre', 'Mcc Nombre']]

df_nombres=df_nombres.drop_duplicates(subset=['Id Cliente', 'Mcc Nombre'], keep='first')


#df_nombres=df_nombres.groupby([ 'Id Cliente','Mcc Nombre']).reset_index()
df_nombres

,Id Cliente,Sexo Cliente,Edad Cliente,Estado Cliente,Ope Pais,Giro Nombre,Mcc Nombre
2,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,SERVICIOS EMPRESARIALES - NO CLASIFICADOS
3,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ..."
1,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,MERCADEO DIRECTO - NO CLASIFICADO
0,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,MISCELANEAS,"ABARROTES, CARNICERIAS, PESCADERIAS, MISCELANEAS,"
11,2,F,28,GUERRERO,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ..."
...,...,...,...,...,...,...,...
185744,9999,M,29,VERACRUZ DE IGNACIO DE LA LLAV,MX,FARMACIAS,"DROGUERIAS, (FARMACIAS)"
185745,9999,M,29,VERACRUZ DE IGNACIO DE LA LLAV,MX,SUPERMERCADOS,AUTOSERVICIOS Y SUPERMERCADOS
185747,10000,M,14,QUINTANA ROO,MX,OTROS,SERVICIOS EMPRESARIALES - NO CLASIFICADOS
185748,10000,M,14,QUINTANA ROO,US,OTROS,SERV PROC DATOS - DISENO Y PROGRAM DE SISTEMAS
185749,10000,M,14,QUINTANA ROO,US,RETAIL,VENTA DE SOFTWARE PARA COMPUTADORAS

In [15]:
df_concat = pd.concat([df_nombres, meses], axis=1)
df_concat

,Id Cliente,Sexo Cliente,Edad Cliente,Estado Cliente,Ope Pais,Giro Nombre,Mcc Nombre,noviembre,diciembre,enero,febrero,marzo
2,1.0,F,38.0,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,SERVICIOS EMPRESARIALES - NO CLASIFICADOS,0.00,59.85,0.00,0.00,0.00
3,1.0,F,38.0,VERACRUZ DE IGNACIO DE LA LLAV,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ...",167.61,0.00,0.00,0.00,0.00
1,1.0,F,38.0,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,MERCADEO DIRECTO - NO CLASIFICADO,0.00,158.15,0.00,0.00,0.00
0,1.0,F,38.0,VERACRUZ DE IGNACIO DE LA LLAV,MX,MISCELANEAS,"ABARROTES, CARNICERIAS, PESCADERIAS, MISCELANEAS,",0.00,20.18,0.00,0.00,0.00
11,2.0,F,28.0,GUERRERO,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ...",0.00,0.00,0.00,286.26,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
97747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,66.84
97752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,135.70,0.00,0.00,0.00
97753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,20.93,0.00,0.00,0.00
97754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,102.53,0.00,0.00
97755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74.32,30.16,0.00,0.00,0.00

In [35]:
df_nombres.to_csv('df_nombres.csv', index=False)
meses.to_csv('meses.csv', index=False)

In [36]:
df_names= pd.read_csv("df_nombres.csv")
months = pd.read_csv("meses.csv")

df_concat = pd.concat([df_names, months], axis=1)
df_concat

,Id Cliente,Sexo Cliente,Edad Cliente,Estado Cliente,Ope Pais,Giro Nombre,Mcc Nombre,noviembre,diciembre,enero,febrero,marzo
0,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,SERVICIOS EMPRESARIALES - NO CLASIFICADOS,0.00,20.18,0.00,0.0,0.0
1,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ...",0.00,158.15,0.00,0.0,0.0
2,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,MERCADEO DIRECTO - NO CLASIFICADO,0.00,59.85,0.00,0.0,0.0
3,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,MISCELANEAS,"ABARROTES, CARNICERIAS, PESCADERIAS, MISCELANEAS,",167.61,0.00,0.00,0.0,0.0
4,2,F,28,GUERRERO,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ...",0.00,0.00,74.32,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
97751,9999,M,29,VERACRUZ DE IGNACIO DE LA LLAV,MX,FARMACIAS,"DROGUERIAS, (FARMACIAS)",0.00,0.00,109.75,0.0,0.0
97752,9999,M,29,VERACRUZ DE IGNACIO DE LA LLAV,MX,SUPERMERCADOS,AUTOSERVICIOS Y SUPERMERCADOS,0.00,135.70,0.00,0.0,0.0
97753,10000,M,14,QUINTANA ROO,MX,OTROS,SERVICIOS EMPRESARIALES - NO CLASIFICADOS,0.00,20.93,0.00,0.0,0.0
97754,10000,M,14,QUINTANA ROO,US,OTROS,SERV PROC DATOS - DISENO Y PROGRAM DE SISTEMAS,0.00,0.00,102.53,0.0,0.0
97755,10000,M,14,QUINTANA ROO,US,RETAIL,VENTA DE SOFTWARE PARA COMPUTADORAS,74.32,30.16,0.00,0.0,0.0

In [18]:
df_concat.to_csv('df_concat.csv', index=False)

In [34]:
months

0         20.18
1        158.15
2         59.85
3        167.61
4         74.32
          ...
97751    109.75
97752    135.70
97753     20.93
97754    102.53
97755     52.24
Length: 97756, dtype: float64

In [37]:



def replace_zero_with_mean(row):
    row_mean = row[row != 0].mean()
    row[row == 0] = row_mean
    return row

months = months.apply(replace_zero_with_mean,axis=1)
months

       noviembre  diciembre   enero  febrero   marzo
0          20.18      20.18   20.18    20.18   20.18
1         158.15     158.15  158.15   158.15  158.15
2          59.85      59.85   59.85    59.85   59.85
3         167.61     167.61  167.61   167.61  167.61
4          74.32      74.32   74.32    74.32   74.32
...          ...        ...     ...      ...     ...
97751     109.75     109.75  109.75   109.75  109.75
97752     135.70     135.70  135.70   135.70  135.70
97753      20.93      20.93   20.93    20.93   20.93
97754     102.53     102.53  102.53   102.53  102.53
97755      74.32      30.16   52.24    52.24   52.24

[97756 rows x 5 columns]

In [38]:
df_names

,Id Cliente,Sexo Cliente,Edad Cliente,Estado Cliente,Ope Pais,Giro Nombre,Mcc Nombre
0,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,SERVICIOS EMPRESARIALES - NO CLASIFICADOS
1,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ..."
2,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,OTROS,MERCADEO DIRECTO - NO CLASIFICADO
3,1,F,38,VERACRUZ DE IGNACIO DE LA LLAV,MX,MISCELANEAS,"ABARROTES, CARNICERIAS, PESCADERIAS, MISCELANEAS,"
4,2,F,28,GUERRERO,MX,TELECOMUNICACIONES,"SERVICIOS DE TELECOMUNICACION, LLAMADAS LOC Y ..."
...,...,...,...,...,...,...,...
97751,9999,M,29,VERACRUZ DE IGNACIO DE LA LLAV,MX,FARMACIAS,"DROGUERIAS, (FARMACIAS)"
97752,9999,M,29,VERACRUZ DE IGNACIO DE LA LLAV,MX,SUPERMERCADOS,AUTOSERVICIOS Y SUPERMERCADOS
97753,10000,M,14,QUINTANA ROO,MX,OTROS,SERVICIOS EMPRESARIALES - NO CLASIFICADOS
97754,10000,M,14,QUINTANA ROO,US,OTROS,SERV PROC DATOS - DISENO Y PROGRAM DE SISTEMAS
97755,10000,M,14,QUINTANA ROO,US,RETAIL,VENTA DE SOFTWARE PARA COMPUTADORAS

In [43]:
df_names= pd.read_csv("df_nombres.csv")
df_concat2 = pd.concat([df_names,months], axis=1)
df_concat2.to_csv('df_lleno.csv', index=False)